<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Subsonic Examples</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="@Url.Content("~/Public/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Public/css/layout.css")" rel="stylesheet">
</head>

<body>

    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="#">SubSonic ServiceBase</a>
@*                <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                </ul>*@
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()

        <footer>
            <p>&copy; jonezy.org 2012</p>
        </footer>

    </div>

</body>
</html>
